@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'NeoSansArabic';
    src: url('../fonts/NeoSansArabic.eot');	 /* IE9 Compat Modes */
    src: url('../fonts/NeoSansArabic.eot?#iefix') format('embedded-opentype'),  /* IE6-IE8 */ url('../fonts/NeoSansArabic.woff') format('woff'),   /* Modern Browsers */ url('../fonts/NeoSansArabic.ttf') format('truetype'),	 /* Safari, Android, iOS */ url('../fonts/NeoSansArabic.svg#NeoSansArabic') format('svg');  /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

#search-form label{
    margin-right: 11px;
}

html, body, h1, h2, h3, h4, h5, h6, p, a, img, ul, li, hr, strong, b, input, select, textarea, .highcharts-title, .highcharts-axis-labels, .highcharts-yaxis-title {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    text-decoration: none;
    list-style: none;
    font: 15px/25px 'NeoSansArabic';
    /*color: #727272;*/
    text-transform: capitalize;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background: #f8f8f8;
    text-align: right;
    height: 100%;
}
.ie-clear {
    clear: both;
}
a, button, .sidebar {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.container {
    clear: both;
    position: relative;
}
.balogin {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ccc url(../images/balogin.jpg) no-repeat;
    background-size: cover;
}
.balogin:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(1, 102, 175, 0.61);
    z-index: 1;
}
.loginbok {
    margin: 38px auto 35px auto;
    width: 920px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.logo {
    margin: 75px auto 0px auto;
    width: 230px;
    text-align: center;
}
.logo img {
    width: 174px;
}
.title-con {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 23px;
    color: #000;
    margin-top: 30px;
    position: relative;
    text-transform: capitalize;
}
.text {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.form-horizontal {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.form-control {
    /* float: left; */
    width: 100%;
    height: 50px;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 15px;
    border-radius: 60px;
    height: 55px;
}
.divlink {
    float: left;
    width: 100%;
}
label {
    position: relative;
    cursor: auto;
    /*font-weight: normal;*/
}
input[type="checkbox"], input[type="radio"] {
    position: unset;
    /*right: 9000px;*/
}
/*Check box*/
input[type="checkbox"] + .label-text:before {
    content: "\f0c8";
    font-family: "Font Awesome 5 Free";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]:checked + .label-text:before {
    content: "\f14a";
    color: #069cd6;
    animation: effect 250ms ease-in;
}
input[type="checkbox"]:disabled + .label-text {
    color: #aaa;
}
input[type="checkbox"]:disabled + .label-text:before {
    content: "\f0c8";
    color: #ccc;
}
/*Radio box*/
input[type="radio"] + .label-text:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}
input[type="radio"]:checked + .label-text:before {
    content: "\f192";
    color: #069cd6;
    animation: effect 250ms ease-in;
}
input[type="radio"]:disabled + .label-text {
    color: #aaa;
}
input[type="radio"]:disabled + .label-text:before {
    content: "\f111";
    color: #ccc;
}
@keyframes effect {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(1.3);
    }
    75% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}
.forgot {
    float: right;
    margin-bottom: 15px;
}
.forgot:hover {
    text-decoration: underline;
    color: #069cd6;
}
.inputbox {
    float: left;
}
.photos {
    float: right;
    padding: 0px;
    position: relative;/*padding-top: 65%;*/
}
/*.photos img {
	position: absolute;
	right: 0px;
	top: 0px;
	min-height: 100%;
	width: 100%;
}*/
.largeredbtn {
    float: left;
    width: 100%;
    height: 55px;
    border: 0;
    border-bottom: 2px solid #077ca9;
    background: #069cd6;
    color: #fff;
    border-radius: 60px;
    text-align: center;
    outline: none;
    outline-style: none;
}
.largeredbtn:hover {
    background: #077ca9;
}
.withpass {
    width: 400px;
    text-align: center;
}
.withpass .modal-body {
    min-height: 160px;
}
.modal-title {
    color: #000;
    font-size: 25px;
}
.modal-header .close {
    margin-top: -2px;
    position: absolute;
    left: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    background: #df314a;
    border-radius: 50%;
    color: #fff;
    opacity: 1;
    text-shadow: none;
}
.modal-header .close:hover {
    background: #fdb316;
}
.modal-open .modal {
    padding: 15px !important;
    background: rgba(0, 0, 0, 0.81);
}
/******************************************************************************
end login
*******************************************************************************/


.logo-desh {
    float: right;
    background: rgba(255, 255, 255, 0.26);
    width: 220px;
    height: 60px;
    text-align: center;
    padding: 6px 0px;
    margin-right: -15px;
}
.logo-desh img {
    width: 122px;
}
.button-bars {
    float: right;
    height: 60px;
    text-align: center;
    width: 60px;
    font-size: 23px;
    padding: 15px 0px;
    color: #fff;
}
.logout {
    float: left;
    font-size: 14px;
    padding: 17px 0px;
    color: #fff;
}
.logout:hover {
    color: #000;
}
.header {
    background-color: #069cd6;
    height: 60px;
    padding: 0px 15px;
}
.title {
    float: right;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
}
.userimg {
    width: 100%;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.46);
    margin-bottom: 10px;
}
.userimg img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #d2d4dc;
}
.userimg p {
    color: #fff;
    padding-top: 10px;
}
#wrapper {
    float: left;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#wrapper #content-wrapper {
    overflow-y: -webkit-paged-y;
    width: 100%;
    padding-bottom: 80px;
}
body.fixed-nav #content-wrapper {
    margin-top: 56px;
    padding-left: 90px;
}
body.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 0;
}
@media (min-width: 768px) {
    body.fixed-nav #content-wrapper {
        padding-left: 225px;
    }
    body.fixed-nav.sidebar-toggled #content-wrapper {
        padding-left: 90px;
    }
}
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 46px;
}
.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}
.scroll-to-top:hover {
    background: #343a40;
}
.scroll-to-top i {
    font-weight: 800;
}
.smaller {
    font-size: 0.7rem;
}
.o-hidden {
    overflow: hidden !important;
}
.z-0 {
    z-index: 0;
}
.z-1 {
    z-index: 1;
}
.navbar-nav .form-inline .input-group {
    width: 100%;
}
.navbar-nav .nav-item.active .nav-link {
    color: #fff;
}
.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
}
.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107';
}
.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}
.navbar-nav .nav-item .nav-link:focus {
    outline: none;
}
.navbar-nav .nav-item .nav-link .badge {
    position: absolute;
    margin-left: 0.75rem;
    top: 0.3rem;
    font-weight: 400;
    font-size: 0.5rem;
}
.topbox {
    float: right;
    margin-bottom: 0;
    margin-left: 0px;
    margin-top: 15px;
}
.topbox-in {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    padding: 15px;
    position: relative;
}
.neworders {
    float: left;
    width: 100%;
    font-size: 18px;
    color: #212529;
}
.new-pos {
    position: absolute;
    right: 15px;
    top: 15px;
}
.no-margins {
    float: left;
    width: 100%;
    font-size: 30px;
    margin-top: 30px;
}
.aov {
    float: left;
    margin-top: 5px;
    font-size: 12px;
}
.namdight {
    float: right;
    margin-top: 5px;
}
.stat-percent {
    color: #5bc0de;
}
.text-co {
    color: #337ab7;
}
.danger {
    background: #d70808;
}
.text-danger {
    color: #d70808;
}
@media (min-width: 768px) {
    .navbar-nav .form-inline .input-group {
        width: auto;
    }
}
.sidebar {
    width: 70px !important;
    background-color: #212529;
    min-height: calc(100vh - 56px);
}
.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}
.sidebar .nav-item .nav-link {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0.75rem 1rem;
    width: 70px;
}
.sidebar .nav-item .nav-link i {
    font-size: 13px;
}
.sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}
.sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(62px + 0.5rem) !important;
    margin: 0;
}
.sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
}
.sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}
.sidebar .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.5);
}
.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}
.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}
@media (min-width: 768px) {
    .sidebar {
        width: 220px !important;
    }
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        text-align: right;
        padding: 1rem;
        width: 220px;
    }
    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
        display: inline;
    }
    .sidebar .nav-item .dropdown-menu {
        position: static !important;
        margin: 0;
        top: 0;
        width: 100%;
        border-radius: 0;
        border: 0;
        background: #292b2d;
    }
    .sidebar .nav-item.dropdown .dropdown-toggle::after {
        display: block;
    }
    .sidebar.toggled {
        overflow: visible;
        width: 70px !important;
    }
    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }
    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 70px;
    }
    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
    }
    .sidebar.toggled .userimg p {
        font-size: 12px;
    }
    .sidebar.toggled .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(70px + 0.0rem) !important;
        margin: 0;
    }
    .sidebar.toggled .nav-item .dropdown-menu.dropup {
        bottom: 0;
        top: auto !important;
    }
    .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }
}
.sidebar.fixed-top {
    top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}
.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        column-count: 1;
    }
}
@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}
:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}
.card-login {
    max-width: 25rem;
}
.card-register {
    max-width: 40rem;
}
.form-label-group {
    position: relative;
}
.form-label-group > input, .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}
.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}
.form-label-group input:-ms-input-placeholder {
    color: transparent;
}
.form-label-group input::-ms-input-placeholder {
    color: transparent;
}
.form-label-group input::placeholder {
    color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}
.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}
footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 90px);
    height: 80px;
    background-color: #e9ecef;
}
footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}
.ibox-content {
    margin-top: 15px;
}
.orders {
    float: left;
}
.tabright {
    float: right;
    background: #f8f8f8;
    border: 1px solid #e3e2e2;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
}
.tabright li a {
    padding: 0px 5px;
    border-radius: 0;
    font-size: 13px;
}
.tabright>li.active>a, .tabright>li.active>a:focus, .tabright>li.active>a:hover {
    background: #069cd6;
    color: #fff;
}
.tab-content {
    float: left;
    width: 100%;
}
#chart1, #chart2, #vmap, #us3, #chart4 {
    float: left;
    width: 100%;
    height: 300px;
    margin-top: 15px;
}
.nambrbox, #us3 {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.nambrbox .no-margins {
    margin: 0;
}
.merbox {
    margin-top: 30px;
}
.progress.progress-sm {
    float: left;
    width: 100%;
    height: 8px;
    margin: 0;
    margin-top: 5px;
}
.progress-bar {
    background-color: #348c34;
}
.abandonedinner {
    float: left;
    width: 100%;
    padding: 15px;
    min-height: 110px;
    position: relative;
    background: #069cd6;
}
.abandonedinner i {
    position: absolute;
    left: 15px;
    top: 30px;
    font-size: 50px;
    color: #fff;
}
.abandonedinner p, .abandonedinner span {
    float: left;
    width: 100%;
    text-align: right;
    color: #fff;
}
.abandonedinner span {
    font-size: 30px;
    margin-top: 30px;
}
.andonedin {
    background: #d70808;
}
.table>thead>tr>th {
    border: 0;
    padding: 8px !important;
    font-weight: bold;
}
.table-striped>tbody>tr {
    cursor: auto;
}
.table-striped>tbody>tr:hover {
    background: #efefef;
}
.table {
    float: left;
    margin: 0;
    margin-top: 15px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    text-align: center;
}
.jqvmap-label {
    position: absolute;
    display: none;
    border-radius: 3px;
    background: #069cd6;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 0px 15px;
    pointer-events: none;
}
.jqvmap-pin {
    pointer-events: none;
}
.jqvmap-zoomin, .jqvmap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #394263;
    padding: 3px;
    color: white;
    width: 15px;
    height: 15px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}
.jqvmap-zoomin:hover, .jqvmap-zoomout:hover {
    background: #069cd6;
}
.jqvmap-zoomin {
    top: 10px;
}
.jqvmap-zoomout {
    top: 30px;
}
.jqvmap-region {
    cursor: pointer;
    fill: #ccc;
    stroke: #fff;
}
.jqvmap-region:hover, .jqvmap-region.actie {
    fill: #394263;
}
.nodata {
    float: left;
    width: 100%;
    padding: 150px 0px;
    text-align: center;
    color: #000;
}
.tabbot {
    border-bottom: 1px solid #f3f3f3;
}
.tabbot li {
    width: 50%;
    text-align: center;
    margin: 0 !important;
    border: 1px solid #f3f3f3;
    border-bottom: 0px;
}
.tabbot li a {
    border-radius: 0px;
}
.tabbot>li.active>a, .tabbot>li.active>a:focus, .tabbot>li.active>a:hover {
    background: #f3f3f3;
    color: #000;
}
.prodbox {
    float: left;
    width: 100%;
}
.img-pro {
    float: left;
    width: 130px;
    padding-top: 18%;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}
.img-pro img {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 100%;
    max-width: 100%;
}
.padbox {
    padding-left: 145px;
    padding-top: 15px;
}
.padbox .neworders {
    font-size: 16px;
}
.padbox .aov {
    width: 100%;
}
.disbox, .nobord label, .table-responsive {
    float: left;
    width: 100%;
}
.clickbot {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}
.a-minus {
    position: relative;
    font-style: normal;
    color: #a9a9a9;
    font-size: 14px;
}
.a-minus:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f068";
}
.rotate:after {
    content: "\f067";
}
.nobord {
    margin-top: 15px;
}
.nobord .form-control {
    margin-bottom: 0px;
    border-radius: 4px;
    height: 45px;
}
.nobord label {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 13px;
    cursor: default;
}
.export {
    float: right;
    color: white;
    margin-left: 3px;
    margin-right: 10px;
}
.nonped {
    padding: 0;
}
.nonped .btn {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #fff;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.nonped .dropdown-menu {
    width: 150px;
    border-radius: 3px;
    margin: 0;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    padding: 10px;
}
.nonped .dropdown-menu a {
    float: left;
    width: 100%;
    font-size: 14px;
    padding: 5px;
}
.nonped .dropdown-menu a:hover {
    background: #f1f1f1;
}
.aunching {
    font-weight: 700;
}
.modal-dialog {
    margin: 100px auto;
}
.m-b {
    border-radius: 4px;
}
.remScnt {
    float: right;
    margin: 0px 0px 10px 0px;
}
.inputwan {
    float: left;
    margin: 0px 0px 10px 0px;
}
.nobord textarea.form-control {
    resize: none;
    height: 150px;
}
.tabinp {
    border-radius: 4px;
    height: 32px;
    margin: 0;
}
.table-striped.customFields>tbody>tr:nth-of-type(odd) {
    background: #e8e8e8;
}
.table-striped.customFields>tbody>tr {
    background: #cccccc30;
}
.addCF, .addCF2, .addCF3 {
    float: right;
    margin-top: -25px;
}
h3.neworders {
    margin-top: 15px;
}
table.dataTable.nonechack tbody td.select-checkbox:before, table.dataTable.nonechack tbody th.select-checkbox:before {
    display: none;
}
.se-map {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
    margin: 0;
}
#configreset {
    display: none;
    width: 52px;
    height: 30px;
    float: right;
    margin-right: 15px;
}
table img {
    width: 80px;
    height: 80px;
    margin: 10px;
}
table.nonafter tr.selected td.select-checkbox:after, table.nonafter tr.selected th.select-checkbox:after {
    display: none;
}
.dayars {
    float: left;
}
.mergchik {
    margin-top: 55px;
}
.merglab {
    float: left;
    margin: 0;
    margin-top: 5px;
}
.inneradmin {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #069cd6;
    border-radius: 4px;
    overflow: hidden;
}
.admintitle {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    background: #069cd6;
}
.rowboxs, .witinput, .mertabs, .boximgline-in, .media-heading, .liboxs, .frontend {
    float: left;
    width: 100%;
}
.rowboxs p.topbox.nobord {
    margin-top: 24px;
}
.rowboxs p.topbox.nobord i {
    color: #069cd6;
}
.leftbox, .boximgline, .frontend {
    float: left;
    margin-top: 15px;
}
.tab-content.padline {
    padding: 0px;
}
.witinput {
    margin: 0;
}
.mertabs {
    margin-top: 15px;
    padding: 0px 15px;
}
.boximgline-in {
    background: #f3f3f3;
    border: 1px solid #ddd;
    padding: 10px;
    min-height: 120px;
    position: relative;
}
.boximgline-in:hover {
    background: #dad9d9;
    border: 1px solid #069cd6;
}
.imgpos {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    background: #000;
    overflow: hidden;
}
.imgpos img {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
}
.media-body {
    padding-left: 15px;
}
.media-heading {
    color: #000;
    font-size: 16px;
}
span.hidethe.fas.fa-check {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    background: #069cd6;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    display: none;
    font-size: 11px;
    padding-top: 5px;
}
.meright {
    margin-top: 15px;
}
.meright .form-control {
    border-radius: 4px;
    height: 30px;
    margin-top: 5px;
}
.hitsel .form-control {
    height: 35px;
}
.tabbot.formtabs li {
    width: 25%;
}
.frontend {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}
.frontend:last-child {
    border: 0;
    border: 0;
}
.trackin {
    border-radius: 4px;
    height: 45px;
    text-align: left;
    margin: 0;
    padding-top: 10px;
}
.fontmenu {
    float: none;
    position: relative;
    top: 0;
    right: 0;
}
.fontmenu li {
    border-right: 1px solid #ddd;
    margin: 0 !important;
}
.fontmenu li a {
    padding: 0px 10px;
}
.fontmenu li:last-child {
    border: 0;
}

.nav-tabs>li.active>a {
    background: #18C0DF !important;
}
#us3.us3{ margin-top:5px;}
@media (min-width:1900px) {
    .loginbok {
        margin: 200px auto 0px auto;
    }
}
@media (min-width:1600px) {
    .loginbok {
        margin: 120px auto 0px auto;
    }
}
@media (max-width:1199px) {
    .topbox, .boximgline {
        width: 50%;
    }
    .col-sm-12.topbox.nobord {
        width: 100%;
    }
}
@media (max-width:1024px) {
    .orders {
        width: 100%;
    }
}
@media (max-width:991px) {
    .loginbok {
        width: 100%;
        padding-bottom: 70px;
    }
    .photos {
        display: none;
    }
    .inputbox, .topbox, .leftbox {
        width: 100%;
    }
}
@media (min-width: 768px) {
    footer.sticky-footer {
        width: calc(100% - 225px);
    }
}
/*body.sidebar-toggled footer.sticky-footer {
	width: 100%;
}*/
@media (min-width: 768px) {
    body.sidebar-toggled footer.sticky-footer {
        width: calc(100% - 90px);
    }
}
@media (max-width:767px) {
    .sidebar .nav-item .dropdown-menu {
        position: absolute !important;
        margin: 0;
        top: 0;
        width: 100%;
        border-radius: 0;
        border: 0;
        background: #292b2d;
    }
    .dayars {
        width: 100%;
        margin-bottom: 15px;
    }
    .dayars:last-child {
        margin: 0;
    }
    .mergchik {
        margin-top: 15px;
    }
}
@media (max-width:667px) {
    .title-con {
        font-size: 20px;
    }
    .logo {
        margin: 35px auto 0px auto;
    }
    .loginbok {
        padding-bottom: 45px;
    }
}
@media (max-width:550px) {
    .logo-desh {
        display: none;
    }
    .button-bars {
        margin: 0;
        margin-right: 15px;
        width: auto;
    }
    .tabbot li, .img-pro, .boximgline {
        width: 100%;
    }
    .img-pro {
        padding-top: 80%;
    }
    .padbox {
        padding: 0;
        float: left;
        width: 100%;
        margin-top: 15px;
    }
    .padbox .neworders, .padbox .aov {
        text-align: center;
    }
}
@media (max-width:450px) {
}
@media (max-width:380px) {
    .forgot {
        float: left;
        width: 100%;
    }
    .logo, .logo img {
        width: 190px;
    }
}
@media (max-width:373px) {
}
@media (max-width:350px) {
}
@media (max-width:320px) {
}
